[Unit]
Description="SSH Host certificate renewal"
Wants=host-cert-renewal.timer

[Service]
Environment="CA_URL=https://192.168.0.10:8443"
Environment="STEPPATH=/etc/step"
ExecStart=/usr/local/bin/host-cert-renewal.sh
Type=oneshot

[Install]
WantedBy=multi-user.target
